* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#menu-content,
#about-content {
  display: none;
}

#nav-bar > h1,
#nav-bar {
  display: flex;
  align-items: center;
}

#nav-bar {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 97%;
  margin: 10px auto 20px auto;
}

#nav-bar > h1 > img {
  margin-right: 6px;
  width: 40px;
}

.nav-img > img {
  float: right;
  width: 40px;
}

#search-bar {
  grid-column: 1 / 3;
  display: flex;
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#search-bar > img {
  width: 20px;
}

#search-bar > input {
  width: 100%;
  font-size: 1.1rem;
  border: none;
  background-color: inherit;
  outline: none;
  padding: 5px;
}

#nav-bar-buttons {
  display: none;
  top: 120px;
  left: 0;
  width: 100%;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.change-button {
  display: block;
  width: 100%;
  border: none;
  padding: 20px 0;
  font-size: 1rem;
  background: white;
  transition: background-color 500ms;
}

.change-button:hover {
  background-color: lightgray;
}

.content {
  width: 95%;
  margin: auto;
  color: #333;
}

#description {
  line-height: 25px;
}
