* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.hide {
  display: none;
}

#menu-content,
#about-content {
  display: none;
}

#nav-bar > h1,
#nav-bar {
  display: flex;
  align-items: center;
}

#nav-bar {
  display: grid;
  grid-template-columns: 80% 20%;
  width: 97%;
  margin: 10px auto 20px auto;
}

#nav-bar > h1 > img {
  margin-right: 6px;
  width: 40px;
}

.nav-img > img {
  float: right;
  width: 40px;
}

#search-bar {
  grid-column: 1 / 3;
  display: flex;
  background-color: lightgray;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 10px;
}

#search-bar > img {
  width: 20px;
}

#search-bar > input {
  width: 100%;
  font-size: 1.1rem;
  border: none;
  background-color: inherit;
  outline: none;
  padding: 5px;
}

#nav-bar-buttons {
  top: 120px;
  left: 0;
  width: 100%;
  grid-row: 3 / 4;
  grid-column: 1 / 3;
}

.change-button {
  display: block;
  height: 100%;
  width: 100%;
  border: none;
  padding: 20px 0;
  font-size: 1rem;
  background: white;
}

.change-button > p {
  width: 100%;
  height: 100%;
  transition: transform 500ms;
}

.change-button > p:hover {
  transform: scale(1.2);
}

.content {
  width: min(95%, 900px);
  margin: auto;
  color: #333;
}

#home-content,
#about-content {
  line-height: 30px;
}

#hours {
  width: 85%;
  margin: 10px auto;
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
}

#hours > h2 {
  margin-bottom: 5px;
}

#hours > ul {
  list-style: none;
}

#menu-content > h2 {
  padding: 10px 0;
}

#beverages > div > img,
#appetizer > div > img {
  width: 100%;
}

#beverages > div,
#appetizer > div {
  background-color: lightgray;
  padding: 10px;
  border-radius: 5px;
}

#beverages,
#appetizer {
  width: min(85%, 350px);
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#menu-content > h2 {
  width: min(90%, 400px);
  margin: 0 auto 10px auto;
}

#menu-content {
  margin-bottom: 30px;
}

@media (min-width: 400px) {
  #menu-content > h2 {
    width: 95%;
  }

  #beverages,
  #appetizer {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
}

footer {
  width: 100%;
  background-color: black;
  color: white;
}

@media (min-width: 700px) {
  #beverages,
  #appetizer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 841px) {
  #home-content,
  #about-content {
    font-size: 1.1rem;
    line-height: 35px;
  }

  .nav-img {
    display: none;
  }

  #nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #nav-bar-buttons {
    display: block;
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-grow: 2;
  }

  #search-bar {
    margin-top: 0;
    flex-grow: 3;
    align-self: center;
  }
}

@media (min-width: 1400px) {
  #beverages,
  #appetizer {
    width: min(90%, 1400px);
  }
}
